.para{
    display: flex;
    font-size: 30px;
}
h1{
    font-size: 50px;
}




img{
    width: 200px;
    height: 200px;
}
.list{
    display: flex;
    justify-content: center;
    align-items: center;
}